
body{
    line-height:1.6em;
}

#main-header{
	text-align:center;
	padding:10px;
}
#main-footer{
	text-align:center;
	font-size:12px;
}

.image img{
    width: 50%;
    height: 50%;
    float: left;
}

.p1 span{
    vertical-align: middle;
}



